{% block dropdown%}


<div class="dropdown">
  
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
    {% if carrera %}
      {{carrera.nombre}}
    {% else %}
      Seleccione una carrera
    {% endif%}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for car in lista_de_carreras %}
    
    <a class="dropdown-item" href="{% url 'detalle' car.codigo %}"> {{ car.nombre }} </a>
    {% endfor%}

  </div>
</div>

{% endblock %}