	
ALTER TABLE rendimiento_carrera
RENAME cantidad_aprobados TO aprobados;
ALTER TABLE rendimiento_carrera
RENAME cantidad_reprobados TO reprobados;
ALTER TABLE rendimiento_carrera
RENAME cantidad_convalidados TO convalidados;